.navbar {
  background-color: #f8f9fa;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, #4a90e2, #e0679b);
}

.navbar-left {
  font-size: 1.2rem;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.shop-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-right a.button {
  text-decoration: none;
  color: white;
}
