<div class="container">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
          <th>Actif</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of getPaginatedClients()">
          <td>{{ client.nom }}</td>
          <td>{{ client.prenom }}</td>
          <td>{{ client.adresseMail }}</td>
          <td>{{ client.active }}</td>
          <td>
            <button
              class="action-button edit-button"
              *ngIf="client._id"
              (click)="editClient(client)"
            >
              Modifier
            </button>
            <button
              class="action-button delete-button"
              *ngIf="client._id"
              (click)="deleteClient(client._id)"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">
    <div class="pagination-buttons">
      <button class="pagination-button" (click)="previousPage()">
        Page précédente
      </button>
      <button class="pagination-button" (click)="nextPage()">
        Page suivante
      </button>
    </div>
    <div class="page-size-select-container">
      <label for="pageSizeSelect">Afficher par page:</label>
      <select
        id="pageSizeSelect"
        class="page-size-select"
        (change)="onPageSizeChange($event)"
      >
        <option value="15">15</option>
        <option value="10">10</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>

  <div class="add-client-form">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" formControlName="nom" />
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" formControlName="prenom" />
      </div>
      <div class="form-group">
        <label for="adresseMail">Mail:</label>
        <input type="email" id="adresseMail" formControlName="adresseMail" />
      </div>
      <button type="submit">{{ editMode ? "Modifier" : "Ajouter" }}</button>
      <button type="button" (click)="onCancel()">Annuler</button>
    </form>
  </div>
</div>
